@font-face {
  font-family: 'Lato-Hairline';
  src: url("/fonts/Lato-Hairline.ttf");
}
@font-face {
  font-family: 'latothin';
  src: url("/fonts/latothin.ttf");
}
@font-face {
  font-family: 'latolight';
  src: url("/fonts/latolight.ttf");
}
@font-face {
  font-family: 'latoregular';
  src: url("/fonts/latoregular.ttf");
}
@font-face {
  font-family: 'latobold';
  src: url("/fonts/latobold.ttf");
}
@font-face {
  font-family: 'latoblack';
  src: url("/fonts/latoblack.ttf");
}
body,
html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: latothin;
}
h1 {
  font-size: 133px;
}
h2 {
  font-size: 48px;
}
.container {
  margin: 0 auto;
  padding: 0 11px;
  max-width: 1024px;
  width: 100%;
}
.transpBox {
  position: relative;
  z-index: 10;
}
.transpBox:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.32;
}
.transpBox.left:before {
  width: 300%;
  right: 0;
}
input:not(.checkbox) {
  margin: 6px 0 6px 0;
  padding: 0 12px 0 12px;
  width: 254px;
  height: 39px;
  color: #7f7f7f;
  border: 1px solid #8f9291;
}
.checkbox label {
  font-family: latolight;
}
.checkbox label span {
  color: #6a9dcf;
}
.checkbox label span b {
  font-family: latobold;
}
.checkbox input:not(checked) + label:before {
  top: -1px;
  left: 3px;
  width: 27px;
  height: 22px;
  background: url("/img/checkbox.png") 2px -33px no-repeat;
  border-radius: 0;
}
.checkbox input:checked + label:before {
  width: 27px;
  height: 22px;
  background: url("/img/checkbox.png") 2px 0 no-repeat;
}
.checkbox input:checked + label:after {
  display: none;
}
.btn1 {
  width: 137px;
  height: 49px;
  font-family: latolight;
  font-size: 16px;
  color: #fff;
  border-radius: 50px;
  background-image: -moz-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -webkit-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -ms-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
}
.btn2 {
  width: 137px;
  height: 49px;
  font-family: latolight;
  color: #fff;
  background: #fb5f62;
  border-radius: 50px;
}
.agreement {
  font-size: 12px;
  color: #989898;
}
.agreement a {
  color: #6a9dcf;
  text-decoration: underline;
}
.agreement a:hover {
  text-decoration: none;
}
