.burger {
	position: relative;
	width: 30px;
	height: 30px;
	background: transparent;
}

.burger i,
.burger i::before,
.burger i::after {
	display: block;
	right: 0;
	width: 100%;
	height: 3px;
	background: #222222;
	transition: all 0.4s ease;
}

.burger i {
	position: relative;
}

.burger i::before,
.burger i::after {
	content: "";
	position: absolute;
}

.burger i::before {
	top: -8px;
}

.burger i::after {
	top: 8px;
}

.burger.active i {
	background: none;
}

.burger.active i::before,
.burger.active i::after {
	top: 0;
}

.burger.active i:before {
	transform: rotate(-45deg);
}

.burger.active i:after {
	transform: rotate(45deg);
}

.burger.active:hover i:before {
	transform: rotate(-35deg);
}

.burger.active:hover i:after {
	transform: rotate(35deg);
}

.burger:hover:not(.active) i:before {
	transform: translateY(-5px)
}

.burger:hover:not(.active) i:after {
	transform: translateY(5px)
}




