.description {
	padding-bottom: 100px
	&_top {
		padding: 25px 0 100px 0
		min-height: 266px
		background: #e7ecea
		h2 {
			font-family: latosemibold
			font-size: 42px
			color: #6a7b8c
			text-align: center
		}
		p {
			position: relative
			margin: 0 auto
			margin-top: 20px
			padding: 0 50px 0 175px
			max-width: 1000px
			width: 100%
			font-family: latothin
			color: #535151
			&:before {
				content: ''
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0
				width: 153px
				height: 167px
				background: url(/img/description-logo.png) no-repeat
			}
			b {
				font-family: latobold
				color: #fb7070
			}
		}
	}
	.tab_title {
		margin-top: -62px
		height: 62px
		font-family: latolight
		color: #828282
		.description_version {
			margin-top: 2px
			margin-right: 20px
			font-size: 41px
		}
		&__item {
			display: flex
			justify-content center
			align-items center
			padding-right: 30px
			width: 230px
			height: 62px
			font-size: 25px
			font-weight: 600
			background: url(/img/description-tab.jpg)
			background-position: right
			cursor: pointer
			&.active {
				background-position: left
			}
		}
	}

	.tab_content {
		&__item {
			position: relative
			padding-top: 42px
			border: 1px solid #dadada
			border-top: none
			border-bottom: none
			background: #ffffff
			&:before {
				content: ''
				position: absolute
				z-index: -1
				top: 280px
				left: -150%
				width: 400%
				height: 69px
				background:url(/img/lines.jpg)
			}
		}
		.tab_content__title {
			margin-bottom: 12px
			padding: 0 20px 0 20px
			color: #798897
			line-height: 29px
			h3 {
				font-family: latolight
				font-size: 25px
				b {
					color: #fb7070
				}
			}
			div {
				font-family: latothin
				font-size: 16px
			}
		}
	}
}

.video_wrap {
	display: flex
	flex-direction: column
	margin: 0 auto
	width: 760px
	height: auto
	.video_tab {
		display: flex
		align-self flex-end
		margin-top: 5px
		a {
			margin: 0 5px 0 5px
			font-family: latothin
			font-weight: 600
			color: #4d8ecf
			text-decoration: underline
			&:hover {
				text-decoration: none
			}
			&.active {
				font-weight: 600
				color: #000000
				text-decoration: none
			}
		}
	}
}

.accordion {
	li {
		&:first-child {
			.title {
				margin-top: 38px
			}
		}
		&:last-child {
			.title {
				border-bottom: 1px solid #dadada
			}
			.content {
				border-bottom: 1px solid #dadada
			}
		}
		&:nth-child(2) {
			.title {
				&:before {
					background-position: 0 -75px
				}
			}
		}
		&:nth-child(3) {
			.title {
				&:before {
					background-position: 0 -148px
				}
			}
		}
		&:nth-child(4) {
			.title {
				&:before {
					background-position: 0 -225px
				}
			}
		}
		&:nth-child(5) {
			.title {
				&:before {
					background-position: 0 -300px
				}
			}
		}
		&:nth-child(6) {
			.title {
				&:before {
					background-position: 0 -373px
				}
			}
		}
		&:nth-child(7) {
			.title {
				&:before {
					background-position: 0 -145px
				}
			}
		}

	}
	.title {
		position: relative
		display: flex
		padding: 23px 10px 23px 11px
		width: 100%
		min-height: 75px
		border-top: 1px solid #dadada
		&:before {
			content: ''
			position: absolute
			top: 50%
			left: 50px
			transform: translateY(-50%)
			width: 60px
			height: 60px
			background: url(/img/description-iconset.jpg) no-repeat
		}

		&.active {
			border-bottom: 1px solid #dadada
			h3 {
				font-weight: 600
				color: #b95444
			}
		}
		.arrow {
			position: absolute
			top: 50%
			transform: translateY(-50%)
		}
		h3 {
			display: inline-block
			padding-left: 105px
			font-family: latoregular
			font-weight: 100
			font-size: 21px
			color: #6a7b8c
		}
	}

	.content {
		position: relative
		margin: 0 11px 0 11px
		padding: 20px 17px 27px 17px
		font-family: latoregular
		line-height: 23px
		color: #4d4d4d
		background: #fbfbfb
		border: 1px solid #b6b6b6
		border-top: none
		border-bottom: none
		p {
			margin-bottom: 20px
			&:last-child {
				margin-bottom: 0
			}
		}
		&:before {
			content: ''
			position: absolute
			top: 0
			left: -24px
			width: 20px
			height: 100%
			background: #ffffff
		}
		&:after {
			content: ''
			position: absolute
			top: 0
			right: -24px
			width: 20px
			height: 100%
			background: #ffffff
		}
	}
}


@media (max-width: 1050px) {
	.description {
		&_top {
			p {
				padding-left: 140px
				&:before {
					left: 20px
					width: 93px;
					height: 102px;
					background-size: cover
				}
			}
		}
	}
}

@media (max-width: 830px) {
	.description {
		.tab_wrap {
			.tab_title {
				.description_version {
					display: none
				}
			}
		}
	}
}

@media (max-width: 830px) {
	.description {
		.tab_wrap {
			.tab_content {
				.video_wrap, .video_current {
					width: 100%
				}
				.video_tab {
					padding-right: 20px
				}
			}
		}
	}
}


@media (max-width: 450px) {
	.description {
		&_top {
			p {
				padding-left: 20px
				padding-right: 20px
				&:before {
					display: none
				}
			}
		}
	}
}

@media (max-width: 510px) {
	.description {
		.tab_wrap {
			.tab_title {
				.tab_title__item {
					padding: 0
					background: #2cc185
					&.active {
						background: #ffffff
					}
				}
			}
		}
	}
}