@import "common"

.footer {
	position: relative
	.container {
		position: relative
		height: 100px
		&:before {
			content: ''
			position: absolute
			bottom: 62px
			right: 255px
			width: 300%
			height: 13px
			background: url(/img/footer-pattern.jpg) right repeat-x
		}
		&:after {
			content: ''
			position: absolute
			bottom: 10px
			right: 20px
			width: 59px
			height: 65px
			background: url(/img/footer-logo.png)
		}
	}
	.flex_row__between {
		position: absolute
		left: 182px
		bottom: 15px
		font-family: latolight
		font-size: 21px
		color: #ffffff
	}
	.footer_bg {
		position: relative
		&:before {
			content: ''
			position: absolute
			z-index: -1
			right: -1375px
			bottom: -100px
			width: 400%
			height: 92px
			background: url(/img/footer.jpg) repeat-x
			background-position-x: right
			-webkit-background-size: 2000px
			background-size: 2900px
		}
	}
}


@media (max-width: 880px) {
    .footer {
	    .container {
		    &:before {
			    right: 0
		    }
		    &:after {
			    display: none
		    }
	    }
		.flex_row__between {
			left: 20px
		}
		.footer_bg {
			&:before {
				right: -40px
				height: 50px
				background-image: none
				background: #6a7b8c
			}
		}
    }
}

@media (max-width: 430px) {
	.footer {
		.container {
			&:before {
				bottom: 92px
			}
		}
		.footer_bg {
			&:before {
				height: 75px
			}
		}
	}
}