@import "common"


.header {
	position: relative;
	padding-bottom: 120px
	width: 100%;
	height: 100%;
	overflow: hidden
	color: #ffffff
	a {
		text-decoration: none
		color: #ffffff
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: url(/img/header-bg-filter.png)
	}
	.container {
		position: relative
		z-index: 10
	}
}

.header, .header_video {
	min-width: 100%;
	min-height: 100vh;
	overflow: hidden
}

.header_video {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url(/img/header-bg.jpg) center;
	background-size: cover;
}


.header_top {
	//margin-bottom: 140px;
	margin-bottom: 3vh;
	&__menu {
		height: 60px
		li {
			height: 100%
			a {
				position: relative
				display: flex
				align-items: center
				padding: 0 8px 0 8px
				height: 100%
				font-family: latoblack
				&:before {
					content: ''
					position: absolute
					right: 8px
					bottom: 13px
					height: 3px
					width: calc(100% - 16px)
				}
				&:hover {
					&:before {
						border-bottom: 3px solid #d99287
					}
				}
			}
			&:first-child {
				a {
					padding: 0 8px 0 16px
					&:before {
						right:8px
						width: calc(100% - 24px)
					}
				}
			}
			&:last-child {
				a {
					padding: 0 16px 0 8px
					&:before {
						right:16px
						width: calc(100% - 24px)
					}
				}
			}
		}
	}
	&__call {
		padding-bottom: 12px
		.call-tel {
			padding: 8px 14px 5px 14px
			font-family: latoblack
			font-size: 29px
		}
		.call-btn {
			text-decoration: underline
			cursor: pointer
			font-family: Lato-Hairline
			&:hover {
				text-decoration: none
			}
		}
	}
}

.header h1 {
	margin-bottom: 22px
	padding: 0 0 16px 0
	font-family: latobold
	.transpBox {
		padding: 0 33px 6px 55px
		&:before {
			top: 10px
		}
	}
}
.header .subtitle {
	font-family: latoblack
	font-size: 29px
	margin-bottom: 20px
	padding: 20px 35px 25px 0
	.transpBox {
		padding: 20px 35px 25px 0
		left: -30px
	}
}

.header_middle__menu {
	padding: 25px 0 35px 0
	max-width: 680px
	&:before {
		background: #00b3ba
	}
	li {
		padding: 0 27px 0 27px
		a {
			font-family: latolight
			font-size: 20px
			line-height: 33px
			&:hover {
				span {
					text-decoration: none
				}
			}
			span {
				font-family: latoblack
				text-decoration: underline
			}
		}
	}
}

.arrowDown {
	position: absolute
	z-index: 10
	display: block
	bottom: 15px
	left: 50%
	transform: translateX(-38px)
	width: 79px
	height: 79px
	background: url(/img/arrow-down.png) no-repeat
}
	


@media (max-width: 1100px) {
	.header .subtitle {
		.transpBox {
			left: 0px
		}
	}
}

@media (max-width: 920px) {
	.header {
		.header_top {
			justify-content flex-end
		}
		ul.header_top__menu {
			position: absolute
			z-index: 30 !important
			flex-direction: column
			justify-content: space-between
			top: 100px
			left: -300px
			width: 200px
			height: 300px
			background: #6a7b8c
			transition: .3s
			&.active {
				position: fixed
				z-index: 300 !important
				left: 0
			}
			li {
				display: flex
				height: 100%
				&:first-child {
					padding-top: 20px
				}
				&:last-child {
					padding-bottom: 20px
				}
				a {
					padding: 0 20px 0 20px
					width: 100%
				}
			}
		}
	}
}

@media (max-width: 850px) {
	.header {
		p.subtitle {
			span.transpBox {
				&:before {
					right: -300px
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.header {
		.header_top__call {
			.call-tel {
				font-size: 28px
			}
		}
		h1 {
			span.transpBox.left {
				padding-left: 0px
				font-size: 100px
			}
		}

		p.subtitle {
			span.transpBox.left {
				font-size: 24px
			}
		}

		ul.header_middle__menu {
			&:before {
				left: -200px
				width: 300%
			}
			li {
				padding: 0
			}
		}
	}
}