.orderForm {
	&_title {
		font-size: 29px
		font-weight: 600
		color: #798897
	}
	.container {
		min-height: 910px;
	}
	form {
		position: relative
		padding: 25px 42px 20px 42px
		width: 360px
		border: 1px solid #91bcc9
		background: #f8fffe
		&:before {
			content: ''
			position: absolute
			left: -140px
			bottom: -12px
			z-index: -1
			width: 339px
			height: 470px
			background: url(/img/orderForm11.jpg) no-repeat
		}
		&:after {
			content: ''
			position: absolute
			left: 63px
			bottom: -11px
			width: 138px
			height: 10px
			background: url(/img/orderForm12.jpg) no-repeat
		}
		.flex_column {
			margin: 12px 0 12px 0
		}
		.checkbox {
			display: flex
			align-self: flex-start
			margin: 2px 0 2px 8px
		}
		button {
			margin: 8px 0 12px 0
		}
	}

	&_right {
		position: relative
		margin-left: 60px
		margin-top: 310px
		font-family: latobold
		font-size: 37px
		color: #6a7b8c
		&:before {
			content: ''
			position: absolute
			top: -330px
			left: 50%
			transform: translateX(-50%)
			width: 283px
			height: 307px
			background: url(/img/orderForm2.jpg)
		}
		span {
			color: #f96160
		}
	}
}

@media (max-width: 900px) {
	.orderForm {
		padding-bottom: 80px
		.container.flex_row__center {
			flex-direction: column
			form {
				margin: 80px 0 80px 0
			}
			.orderForm_right {
				margin-left: 0
			}
		}
	}
}