.orderBottom {
	background: url(/img/orderBottom.jpg) top center
	.transpBox_wrap__first {
		padding: 40px 15px 40px 100px
		.transpBox.left {
			padding: 50px 15px 50px 80px
			height: 40px
			font-family: latobold
			font-size: 37px
			color: #6a7b8c
			background: url(/img/logo10.png) no-repeat 0 50%
			span {
				color: #f96160
			}
			&:before {
				background: #ffffff
				opacity: .8
			}
		}
	}
	form.transpBox {
		padding: 35px 42px 38px 42px
		width: 360px
		&:before {
			background: #ffffff
			opacity: .8
		}
		.flex_column {
			margin: 12px 0 12px 0
		}
		.checkbox {
			display: flex
			align-self: flex-start
			margin: 2px 0 2px 8px
		}
		button {
			margin: 8px 0 12px 0
		}
		.agreement {
			color: #000000
			a {
				color: darken(#6a9dcf, 40%)
			}
		}
	}

}

@media (max-width: 980px) {
	.orderBottom {
		.transpBox_wrap__first {
			padding-left: 0px
		}
	}
}

@media (max-width: 870px) {
	.orderBottom {
		background-size: cover
		.flex_row__between.align_center {
			flex-direction: column
		}
		.transpBox_wrap__first {
			margin: 43px 0 40px 0
			.transpBox {
				&:before {
					right: -200px
				}
			}
		}
		form.transpBox {
			padding-bottom: 50px
		}
	}
}

@media (max-width: 460px) {
	.orderBottom {
		.container {
			.transpBox_wrap__first {
				margin: 40px 0 40px 0
				padding-right: 0
				.transpBox {
					padding-left: 0
					padding-right: 0
					font-size: 35px
					background: none
					&:before {
						width: 800%
						right: -410px
					}
				}
			}
		}
	}
}