.application {
  padding-top: 460px;
  min-height: 900px;
  background: #5b91b3 url("/img/application.jpg") no-repeat top center;
}
.wrapcube {
  position: static;
}
.cube {
  font-family: Arial;
}
#a .side {
  background: #53687e;
}
#a .front {
  background: #6a7b8c;
}
#b .side {
  background: #6893af;
}
#b .front {
  background: #b3d2e2;
}
#c .side {
  background: #53687e;
}
#c .front {
  background: #6a7b8c;
}
#d .side {
  background: #6893af;
}
#d .front {
  background: #b3d2e2;
}
#e .side {
  background: #53687e;
}
#e .front {
  background: #6a7b8c;
}
#f .side {
  background: #6893af;
}
#f .front {
  background: #b3d2e2;
}
.application h2 {
  font-family: latoblack;
  font-size: 48px;
  color: #fff;
  opacity: 0.6;
}
.application .tab_wrap {
  display: flex;
}
.application .tab_title {
  min-width: 200px;
}
.application .tab_title__item {
  font-family: latoblack;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
}
.application .tab_title__item:hover {
  cursor: pointer;
}
.application .tab_content {
  margin-top: 15px;
}
.application .tab_content__item {
  padding: 15px 15px 15px 50px;
  line-height: 20px;
  color: #fff;
  background: #568aaa;
}
.application .tab_content__item p {
  margin-bottom: 20px;
}
.application .tab_content__item .application_icon {
  display: inline-block;
  margin: -5px 8px 0 0;
  min-width: 51px;
  height: 51px;
  background: url("/img/tab-icon-sample.png") center;
}
.application h2 {
  padding-right: 105px;
  text-align: right;
}
@media (max-width: 1050px) {
  .application {
    background-position-x: -400px;
  }
}
@media (max-width: 910px) {
  .application h2 {
    padding-bottom: 40px;
    text-align: left;
  }
}
@media (max-width: 790px) {
  .application {
    padding-top: 290px;
    background-size: 1300px;
  }
}
@media (max-width: 700px) {
  .application {
    background-position-x: -240px;
    background-size: 1100px;
  }
  .application h2 {
    font-size: 40px;
  }
  .application .tab_wrap {
    flex-direction: column;
  }
  .application .tab_wrap .tab_title {
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .application {
    padding-top: 220px;
    background-position-x: -200px;
    background-size: 950px;
  }
}
@media (max-width: 390px) {
  .application {
    padding-top: 190px;
    background-position-x: -180px;
    background-size: 800px;
  }
}
