@font-face {
  font-family: 'Lato-Hairline';
  src: url("/fonts/Lato-Hairline.ttf");
}
@font-face {
  font-family: 'latothin';
  src: url("/fonts/latothin.ttf");
}
@font-face {
  font-family: 'latolight';
  src: url("/fonts/latolight.ttf");
}
@font-face {
  font-family: 'latoregular';
  src: url("/fonts/latoregular.ttf");
}
@font-face {
  font-family: 'latomedium';
  src: url("/fonts/latomedium.ttf");
}
@font-face {
  font-family: 'latosemibold';
  src: url("/fonts/latosemibold.ttf");
}
@font-face {
  font-family: 'latobold';
  src: url("/fonts/latobold.ttf");
}
@font-face {
  font-family: 'latoblack';
  src: url("/fonts/latoblack.ttf");
}
body,
html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: latothin;
}
h1 {
  font-size: 133px;
}
h2 {
  font-size: 48px;
}
a {
  color: #016087;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #01435f;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1042px;
  width: 100%;
}
.transpBox {
  position: relative;
  z-index: 10;
}
.transpBox:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.32;
}
.transpBox.left:before {
  width: 300%;
  right: 0;
}
input:not(.checkbox),
textarea {
  margin: 6px 0 6px 0;
  padding: 0 12px 0 12px;
  width: 254px;
  height: 39px;
  font-size: 16px;
  font-family: latothin;
  color: #7f7f7f;
  border: 1px solid #8f9291;
  box-sizing: border-box;
}
textarea {
  padding-top: 7px;
  padding-bottom: 7px;
  height: 105px;
  resize: none;
  font-family: latothin;
}
.checkbox label {
  font-family: latolight;
}
.checkbox label span {
  color: #6a9dcf;
}
.checkbox label span b {
  font-family: latobold;
}
.checkbox input:not(checked) + label:before {
  top: -1px;
  left: 3px;
  width: 27px;
  height: 22px;
  background: url("/img/checkbox.png") 2px -33px no-repeat;
  border-radius: 0;
}
.checkbox input:checked + label:before {
  width: 27px;
  height: 22px;
  background: url("/img/checkbox.png") 2px 0 no-repeat;
}
.checkbox input:checked + label:after {
  display: none;
}
.checkbox.checkbox2 input:not(checked) + label:before {
  top: -1px;
  left: 3px;
  width: 27px;
  height: 22px;
  background: url("/img/checkbox2.png") 2px -31px no-repeat;
  border-radius: 0;
}
.checkbox.checkbox2 input:checked + label:before {
  width: 27px;
  height: 22px;
  background: url("/img/checkbox2.png") 2px -2px no-repeat;
}
.checkbox.checkbox2 input:checked + label:after {
  display: none;
}
.btn1 {
  width: 137px;
  height: 49px;
  font-family: latolight;
  font-size: 16px;
  color: #fff;
  border-radius: 50px;
  background-image: -moz-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -webkit-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -ms-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
}
.btn2 {
  width: 137px;
  height: 49px;
  font-family: latolight;
  color: #fff;
  background: #fb5f62;
  border-radius: 50px;
}
.btn3 {
  position: relative;
  width: 252px;
  height: 37px;
  font-size: 16px;
  color: #4e4e4e;
  border: 1px solid #c0c0c0;
  background: transparent;
}
.btn3:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -webkit-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -ms-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  opacity: 0.35;
}
.agreement {
  font-size: 12px;
  color: #989898;
}
.agreement a {
  color: #6a9dcf;
  text-decoration: underline;
}
.agreement a:hover {
  text-decoration: none;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  z-index: 12;
  background: rgba(0,0,0,0.3);
  display: none;
}
.overlay.active {
  display: block;
}
.burger {
  display: none;
  position: absolute;
  z-index: 15;
  left: 25px;
  top: 25px;
}
.burger.active i:before {
  background: #fff;
}
.burger.active i:after {
  background: #fff;
}
@media (max-width: 920px) {
  .burger {
    display: block;
  }
}
.done h2 {
  margin: 90px 0 160px 0;
  font-family: latolight;
  font-size: 33px;
  text-align: center;
  font-weight: 100;
  color: #6a7b8c;
}
.done h2 span {
  color: #fb5f62;
}
.done .flex_row__around {
  flex-wrap: wrap;
}
.done .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  width: 50%;
}
.done .item .img_wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 322px;
  height: 290px;
  border: 1px solid #d8d8d8;
}
.done .item .img_wrap img {
  position: absolute;
  bottom: 8px;
  max-width: 500px;
}
.done .item p {
  margin-top: 5px;
  width: 322px;
  font-family: latolight;
  line-height: 25px;
}
.done .item p span {
  display: block;
}
.done .item a {
  font-family: latoregular;
  text-decoration: underline;
  line-height: 25px;
  color: #016087;
}
.done .item a:hover {
  text-decoration: none;
}
.done .item a:visited {
  color: #01435f;
}
@media (max-width: 940px) {
  .done .item {
    width: 100%;
  }
}
