@font-face {
  font-family: 'Lato-Hairline';
  src: url("/fonts/Lato-Hairline.ttf");
}
@font-face {
  font-family: 'latothin';
  src: url("/fonts/latothin.ttf");
}
@font-face {
  font-family: 'latolight';
  src: url("/fonts/latolight.ttf");
}
@font-face {
  font-family: 'latoregular';
  src: url("/fonts/latoregular.ttf");
}
@font-face {
  font-family: 'latomedium';
  src: url("/fonts/latomedium.ttf");
}
@font-face {
  font-family: 'latosemibold';
  src: url("/fonts/latosemibold.ttf");
}
@font-face {
  font-family: 'latobold';
  src: url("/fonts/latobold.ttf");
}
@font-face {
  font-family: 'latoblack';
  src: url("/fonts/latoblack.ttf");
}
body,
html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: latothin;
}
h1 {
  font-size: 133px;
}
h2 {
  font-size: 48px;
}
a {
  color: #016087;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #01435f;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1042px;
  width: 100%;
}
.transpBox {
  position: relative;
  z-index: 10;
}
.transpBox:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.32;
}
.transpBox.left:before {
  width: 300%;
  right: 0;
}
input:not(.checkbox),
textarea {
  margin: 6px 0 6px 0;
  padding: 0 12px 0 12px;
  width: 254px;
  height: 39px;
  font-size: 16px;
  font-family: latothin;
  color: #7f7f7f;
  border: 1px solid #8f9291;
  box-sizing: border-box;
}
textarea {
  padding-top: 7px;
  padding-bottom: 7px;
  height: 105px;
  resize: none;
  font-family: latothin;
}
.checkbox label {
  font-family: latolight;
}
.checkbox label span {
  color: #6a9dcf;
}
.checkbox label span b {
  font-family: latobold;
}
.checkbox input:not(checked) + label:before {
  top: -1px;
  left: 3px;
  width: 27px;
  height: 22px;
  background: url("/img/checkbox.png") 2px -33px no-repeat;
  border-radius: 0;
}
.checkbox input:checked + label:before {
  width: 27px;
  height: 22px;
  background: url("/img/checkbox.png") 2px 0 no-repeat;
}
.checkbox input:checked + label:after {
  display: none;
}
.checkbox.checkbox2 input:not(checked) + label:before {
  top: -1px;
  left: 3px;
  width: 27px;
  height: 22px;
  background: url("/img/checkbox2.png") 2px -31px no-repeat;
  border-radius: 0;
}
.checkbox.checkbox2 input:checked + label:before {
  width: 27px;
  height: 22px;
  background: url("/img/checkbox2.png") 2px -2px no-repeat;
}
.checkbox.checkbox2 input:checked + label:after {
  display: none;
}
.btn1 {
  width: 137px;
  height: 49px;
  font-family: latolight;
  font-size: 16px;
  color: #fff;
  border-radius: 50px;
  background-image: -moz-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -webkit-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -ms-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
}
.btn2 {
  width: 137px;
  height: 49px;
  font-family: latolight;
  color: #fff;
  background: #fb5f62;
  border-radius: 50px;
}
.btn3 {
  position: relative;
  width: 252px;
  height: 37px;
  font-size: 16px;
  color: #4e4e4e;
  border: 1px solid #c0c0c0;
  background: transparent;
}
.btn3:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -webkit-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  background-image: -ms-linear-gradient(0deg, #51d5c7 0%, #5ab5e9 100%);
  opacity: 0.35;
}
.agreement {
  font-size: 12px;
  color: #989898;
}
.agreement a {
  color: #6a9dcf;
  text-decoration: underline;
}
.agreement a:hover {
  text-decoration: none;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  z-index: 12;
  background: rgba(0,0,0,0.3);
  display: none;
}
.overlay.active {
  display: block;
}
.burger {
  display: none;
  position: absolute;
  z-index: 15;
  left: 25px;
  top: 25px;
}
.burger.active i:before {
  background: #fff;
}
.burger.active i:after {
  background: #fff;
}
@media (max-width: 920px) {
  .burger {
    display: block;
  }
}
.header {
  position: relative;
  padding-bottom: 120px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.header:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("/img/header-bg-filter.png");
}
.header .container {
  position: relative;
  z-index: 10;
}
.header,
.header_video {
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.header_video {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/img/header-bg.jpg") center;
  background-size: cover;
}
.header_top {
  margin-bottom: 3vh;
}
.header_top__menu {
  height: 60px;
}
.header_top__menu li {
  height: 100%;
}
.header_top__menu li a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8px 0 8px;
  height: 100%;
  font-family: latoblack;
}
.header_top__menu li a:before {
  content: '';
  position: absolute;
  right: 8px;
  bottom: 13px;
  height: 3px;
  width: calc(100% - 16px);
}
.header_top__menu li a:hover:before {
  border-bottom: 3px solid #d99287;
}
.header_top__menu li:first-child a {
  padding: 0 8px 0 16px;
}
.header_top__menu li:first-child a:before {
  right: 8px;
  width: calc(100% - 24px);
}
.header_top__menu li:last-child a {
  padding: 0 16px 0 8px;
}
.header_top__menu li:last-child a:before {
  right: 16px;
  width: calc(100% - 24px);
}
.header_top__call {
  padding-bottom: 12px;
}
.header_top__call .call-tel {
  padding: 8px 14px 5px 14px;
  font-family: latoblack;
  font-size: 29px;
}
.header_top__call .call-btn {
  text-decoration: underline;
  cursor: pointer;
  font-family: Lato-Hairline;
}
.header_top__call .call-btn:hover {
  text-decoration: none;
}
.header h1 {
  margin-bottom: 22px;
  padding: 0 0 16px 0;
  font-family: latobold;
}
.header h1 .transpBox {
  padding: 0 33px 6px 55px;
}
.header h1 .transpBox:before {
  top: 10px;
}
.header .subtitle {
  font-family: latoblack;
  font-size: 29px;
  margin-bottom: 20px;
  padding: 20px 35px 25px 0;
}
.header .subtitle .transpBox {
  padding: 20px 35px 25px 0;
  left: -30px;
}
.header_middle__menu {
  padding: 25px 0 35px 0;
  max-width: 680px;
}
.header_middle__menu:before {
  background: #00b3ba;
}
.header_middle__menu li {
  padding: 0 27px 0 27px;
}
.header_middle__menu li a {
  font-family: latolight;
  font-size: 20px;
  line-height: 33px;
}
.header_middle__menu li a:hover span {
  text-decoration: none;
}
.header_middle__menu li a span {
  font-family: latoblack;
  text-decoration: underline;
}
.arrowDown {
  position: absolute;
  z-index: 10;
  display: block;
  bottom: 15px;
  left: 50%;
  transform: translateX(-38px);
  width: 79px;
  height: 79px;
  background: url("/img/arrow-down.png") no-repeat;
}
@media (max-width: 1100px) {
  .header .subtitle .transpBox {
    left: 0px;
  }
}
@media (max-width: 920px) {
  .header .header_top {
    justify-content: flex-end;
  }
  .header ul.header_top__menu {
    position: absolute;
    z-index: 30 !important;
    flex-direction: column;
    justify-content: space-between;
    top: 100px;
    left: -300px;
    width: 200px;
    height: 300px;
    background: #6a7b8c;
    transition: 0.3s;
  }
  .header ul.header_top__menu.active {
    position: fixed;
    z-index: 300 !important;
    left: 0;
  }
  .header ul.header_top__menu li {
    display: flex;
    height: 100%;
  }
  .header ul.header_top__menu li:first-child {
    padding-top: 20px;
  }
  .header ul.header_top__menu li:last-child {
    padding-bottom: 20px;
  }
  .header ul.header_top__menu li a {
    padding: 0 20px 0 20px;
    width: 100%;
  }
}
@media (max-width: 850px) {
  .header p.subtitle span.transpBox:before {
    right: -300px;
  }
}
@media (max-width: 500px) {
  .header .header_top__call .call-tel {
    font-size: 28px;
  }
  .header h1 span.transpBox.left {
    padding-left: 0px;
    font-size: 100px;
  }
  .header p.subtitle span.transpBox.left {
    font-size: 24px;
  }
  .header ul.header_middle__menu:before {
    left: -200px;
    width: 300%;
  }
  .header ul.header_middle__menu li {
    padding: 0;
  }
}
