html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
b,
img,
form,
input,
label,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}
ul {
  font-size: 0;
}
li {
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
